@import url('https://cdn.jsdelivr.net/npm/@canvas-fonts/arial@1.0.4/index.min.js');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');
@import './var.scss';
// font-family: 'Josefin Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Arial', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background: $body-bg;
    line-height: normal;
    color: $text-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}

.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
}

//   

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #555;
}

// CheckBox css
.checkbox_wrap {
    display: flex;
    margin-right: 5px;
    align-items: center;
    column-gap: 6px;
    margin-right: 5px;

    .checkbox {
        display: block;
        border: 1px solid #e0e0e0;
        width: 14px;
        height: 14px;
        border-radius: 2px;
        position: relative;
        cursor: pointer;

        .input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked {
                ~ {
                    .mark {
                        display: block;
                    }
                }
            }
        }

        .mark {
            position: absolute;
            top: -1px;
            left: -1px;
            border: 1px solid $theme-color;
            width: 14px;
            height: 14px;
            border-radius: 2px;
            display: none;

            &::after {
                content: "";
                position: absolute;
                top: 3px;
                left: 1px;
                width: 8px;
                height: 3px;
                border: 2px solid $theme-color;
                border-top: 0px;
                border-right: 0px;
                transform: rotate(-45deg);
            }
        }
    }
}


// Dropdown
.dropdown {
    position: relative;

    &.true {
        .dropdown-toggle {
            background: $theme-color;
            color: $white;
        }
    }

    .dropdown-toggle {
        padding: 8px;
        display: flex;
        align-items: center;
        background: $white;
        border-radius: $border-radius;
        border: 1px solid $theme-color;
        font-size: 14px;
        column-gap: 4px;
        color: $theme-color;
    }

    .dropdown-menu {
        width: auto;
        background: $white;
        border-radius: $border-radius;
        position: absolute;
        right: 0;
        z-index: 9;
        box-shadow: 0 2px 6px #0002;
        margin-top: 4px;
    }
}

// pagination
.paging {
    @include flex(center, space-between);
    margin-top: 24px;
    .btn {
        background: $white;
        border: $theme-color;
        color: $theme-color;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 6px 12px;
        font-size: 14px;
        border: 1px solid $theme-color;
        transition: $bg-transition;
        &:active{
            background: $theme-color;
            color: $white;
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 4px;

        li {
            padding: 4px;
            font-size: 14px;
            font-weight: 500;
            border: 1px solid #c4c4c4;
            min-width: 32px;
            min-height: 32px;
            border-radius: 4px;
            background: $white;
            @include center();
            box-shadow: inset 0 2px 6px #0002;
            cursor: pointer;
            &.active{
                background: $theme-color;
                color: $white;
                border-color: $theme-color;
            }
        }
    }
}